---
---
$text-color: #454545;

* {
	position: relative;
}

body {
	color: $text-color;
	display: flex;
	flex-direction: column;
	font-family: 'Cormorant Garamond', serif;
	margin: 0;
	min-height: 100vh;
}

header, nav, footer, #info {
	background-color: {{ site.themeColor }};
	color: white;
	a { color: white; }
}

header {
	padding: 20px 20px 10px 20px;

	time {
		padding: 25px;
	}
	.location {
		display: inline-block;
	}
	.names {
		text-align: center;
	}
	@media (max-width: 904px) {
		time, .location {
			display: none;
		}
	}
}

h1 {
	display: inline-block;
	font-size: 42px;
}

h1, h2 {
	font-weight: 400;
	margin: 0;
}

nav {
	font-size: 9pt;
	letter-spacing: 2px;
	padding: 8px;
	top: 0;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;

	@media (min-width: 905px) {
		position: sticky;
	}

	ul {
		display: inline-flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			flex: 1 0 auto;
			margin: 10px 20px;
		}
	}
	a:not(:hover) {
		text-decoration: none;
	}
}

main {
	flex-grow: 1;
	text-align: center;
}

.wide-image {
	overflow-x: hidden;

	img {
		width: 100vw;
		height: auto;
	}
}

#names, #info, #story {
	padding: 50px;
}

#names {
	font-size: 56px;

	.and {
		@media (max-width: 879px) {
			display: block;
			padding: 20px 0 10px;
		}
		font-size: 22px;
		text-transform: uppercase;
	}
}

.u {
	border-bottom: 1px solid $text-color;
	padding-bottom: 5px;
	bottom: 10px;

}

#info {
	letter-spacing: 5px;
	text-transform: uppercase;

	time {
		font-size: 40px;
	}

	.location {
		font-size: 16px;
		font-weight: 700;
		margin-top: 35px;
	}
}

#story, .container.registries {
	margin: auto;
	max-width: 700px;
}

#story {
	@media (min-width: 1025px) {
		padding: 80px 0;
	}
	@media (min-width: 900px) {
		> div {
			padding: 40px 0;
		}
	}
	@media (max-width: 899px) {
		> div {
			padding: 10px 10px 0;
		}
	}
	.time {
		font-size: 16px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	h2 {
		font-size: 28px;
		letter-spacing: 5px;
		text-transform: uppercase;
		margin: 20px;
	}
}

p {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin: 20px auto;
	max-width: 700px;
}

.story-body {
	@media (min-width: 900px) {
		padding: 60px 0;
	}
	@media (max-width: 899px) {
		border-bottom: 1px solid $text-color;
	}
}

h2 {
	font-size: 56px;
	font-weight: 400;
	margin: 20px 0;
}

hr {
	background-color: $text-color;
	border: none;
	height: 1px;
	max-width: 900px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	max-width: 900px;
}

.item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 35px;
	padding: 30px;
	width: 390px;

	> * {
		display: block;
	}

	img {
		margin: 0 auto;
	}
}

.registries {
	.item {
		width: 290px;
	}

	img {
		display: block;
		padding: 30px;
	}
}

@media (min-width: 700px) {
	.registries .item:nth-child(odd)::before {
		border-right: 1px solid $text-color;
		content: "";
		position: absolute;
		top: 50px;
		right: -1px;
		height: calc(100% - 100px);
	}
}

@media (max-width: 699px) {
	.registries .item {
		padding-top: 5px;
	}

	.registries .item:not(:last-child) {
		border-bottom: 1px solid $text-color;
	}
}

@media (min-width: 900px) {
	.item:nth-child(odd)::before {
		border-right: 1px solid $text-color;
		content: "";
		position: absolute;
		top: 50px;
		right: -1px;
		height: calc(100% - 100px);
	}

	.item {
		padding: 120px 30px;
	}
}

@media (max-width: 899px) {
	.item {
		padding-top: 15px;
	}

	.item:not(:last-child) {
		border-bottom: 1px solid $text-color;
	}
}

a {
	color: $text-color;
}

h3 {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 8px;
}

.events {
	padding: 15px 0;

	h3 {
		font-size: 32px;
		letter-spacing: 10px;
	}
}

h4, .events time {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 32px;
	text-transform: uppercase;
}

h3, h4 {
	line-height: 1;
	margin: 10px 0;
}

.events .location,
.item p {
	font-size: 20px;
	line-height: 26px;
	margin: 10px;
}

@media (min-width: 700px) {
	.events {
		padding-bottom: 80px;
	}

	.event {
		margin-bottom: -1px;
	}
	
	.event > div {
		display: inline-block;
		padding: 80px;
		width: 290px;
	}

	.event > div:last-child {
		border-left: 1px solid $text-color;
	}
}

@media (max-width: 699px) {
	.event {
		border-bottom: 1px solid $text-color;
	}
}

.wedding-party img,
.places img {
	border-radius: 50%;
	width: 150px;
	height: auto;
}

.wedding-party .item {
	justify-content: start;
}

.wedding-party .item,
.places .item {
	width: 540px;
}

@media (min-width: 1200px) {
	.wedding-party,
	.places {
		max-width: 1200px;
	}
}

@media (max-width: 1199px) {
	.wedding-party .item,
	.places .item {
		padding: 60px 30px;
	}
}

a.button {
	border: 1px solid $text-color;
	display: inline-block;
	font-size: 15px;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	width: 230px;
}

.initials {
	font-size: 72px;
	font-weight: 300;
	margin-bottom: 40px;
	text-align: center;
}

.initial {
	display: inline-block;
	padding: 0 20px;
	text-align: left;
	width: 80px;
}

.initial:first-child {
	border-right: 1px solid $text-color;
	text-align: right;
}

footer {
	font-size: 21px;
	margin-top: -5px;
	padding: 30px;
	text-align: center;
}